.navbar-toggler[b-rlh81rdhfa]{
    background-color: rgba(255,255,255,0.1);
}

.top-row[b-rlh81rdhfa] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-rlh81rdhfa]{
    font-size: 1.1rem;
}

.oi[b-rlh81rdhfa] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-rlh81rdhfa]{
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-rlh81rdhfa]{
    padding-left: 1rem;
}

.nav-item:last-of-type[b-rlh81rdhfa]{
    padding-right: 1rem;
}

.nav-item[b-rlh81rdhfa]  a{
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-rlh81rdhfa]  a:active{
    background-color: rgba(255,255,255,0.25);
    color: white;
}

@media(min-width: 641px) {
    .navbar-toggler[b-rlh81rdhfa]{
        display: none;
    }

    .collapse[b-rlh81rdhfa] {
        /* Never collapse the sidebar for the wide screens*/
        display: block;
    }

    .nav-scrollable[b-rlh81rdhfa]{
        /* Allow sidebar to scroll for tall menus*/
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}